<div class="container">
<button href="#" class="btnExample" id="new-idea">New Idea</button>
<button href="#" class="btnExample" id="show-ideas">See Ideas</button>

<div class="ideas"></div>

<div class="idea-input">
  <form>
     Title<br>
     <input type="text" id="ideaTitle"><br>
     Body<br>
     <input type="text" id="ideaTitle">
  </form>
</div>
</div>
