<div class="container">

<div class="flash"></div>

<div class="header">
  <h1>IdeaBox 2.0</h1>
</div>

<button href="#" class="btnStyled" id="newIdea">New Idea</button>
<button href="#" class="btnStyled" id="showIdeas">See Ideas</button>

<div class="ideasIndex"></div>

<div class="ideaInput" style="display:block">
  <form>
     Title<br>
     <input type="text" name="title" id="ideaTitleText"><br>
     Body<br>
     <input type="text" name="body" id="ideaBodyText">
  </form>
  <button href="#" class="btnStyled" id="submit">Save Idea</button>
</div>
</div>
