$background-color: #282829;
$secondary-color: #E4FFDE;

body {
  background-color: $background-color;
  color: $secondary-color;
}

.hover {
  background-color: $secondary-color;
  color: $background-color;
}

.container {
  text-align: center;
}

.btnStyled {
  color: #900;
  background: #FF0;
  font-weight: bold;
  padding: 5px;
  border: 1px solid #900;
}

.btnStyled:hover {
  color: #FFF;
  background: #900;
}

.ideaInput {
  margin: 2em;
}

input {
  border: 5px solid white;
  -webkit-box-shadow:
  inset 0 0 8px  rgba(0,0,0,0.1),
  0 0 16px rgba(0,0,0,0.1);
  -moz-box-shadow:
  inset 0 0 8px  rgba(0,0,0,0.1),
  0 0 16px rgba(0,0,0,0.1);
  box-shadow:
  inset 0 0 8px  rgba(0,0,0,0.1),
  0 0 16px rgba(0,0,0,0.1);
  padding: 15px;
  background: rgba(255,255,255,0.5);
  margin: 0 0 10px 0;
}
